.hide {
  display: none !important;
}

.no-opacity {
  opacity: 0 !important;
}

.show {
  opacity: 1 !important;
  display: block !important;
}

.close-modal {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.switch-theme {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.font-16 {
  font-size: 1.6rem !important;
}

.font-14 {
  font-size: 1.4rem !important;
}

.font-12 {
  font-size: 1.2rem !important;
}

.font-11 {
  font-size: 1.1rem !important;
}

.mb-1 {
  margin-bottom: 1rem !important;
}

.my-swal {
  z-index: 9999;
}

.empty {
  margin: 0 auto !important;
  margin-top: 2rem !important;
  text-align: center !important;
}

ul {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
