.hide {
  display: none !important;
}

.close-modal {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.font-16 {
  font-size: 1.6rem !important;
}

.font-12 {
  font-size: 1.2rem !important;
}

.font-11 {
  font-size: 1.1rem !important;
}

.mb-1 {
  margin-bottom: 1rem !important;
}

ul {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
