/* $b-primary-100: #8b5fbf;
$b-primary-200: #61398f;
$b-primary-300: #ffffff;
$b-accent-100: #d6c6e1;
$b-accent-200: #9a73b5;
$b-text-100: #4a4a4a;
$b-text-200: #878787;
$b-bg-100: #f5f3f7;
$b-bg-200: #e9e4ed;
$b-bg-300: #ffffff;

$primary-100: #800080;
$primary-200: #b343b0;
$primary-300: #ffa6ff;
$accent-100: #ffffff;
$accent-200: #898989;
$text-100: #ffffff;
$text-200: #e0e0e0;
$bg-100: #000000;
$bg-200: #161616;
$bg-300: #2c2c2c; */
.hide {
  display: none !important;
}

.no-opacity {
  opacity: 0 !important;
}

.show {
  opacity: 1 !important;
  display: block !important;
}

.close-modal {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.switch-theme {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.font-16 {
  font-size: 1.6rem !important;
}

.font-14 {
  font-size: 1.4rem !important;
}

.font-12 {
  font-size: 1.2rem !important;
}

.font-11 {
  font-size: 1.1rem !important;
}

.mb-1 {
  margin-bottom: 1rem !important;
}

.my-swal {
  z-index: 9999;
}

.empty {
  margin: 0 auto !important;
  margin-top: 2rem !important;
  text-align: center !important;
}

ul {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

.app {
  height: 100vh;
  width: 100%;
}

.main {
  height: calc(100% - 12rem);
  width: 100%;
  display: grid;
  grid-template-columns: 1.2fr 5fr;
}

.header {
  width: 100%;
  height: 12rem;
  display: grid;
  grid-template-columns: 3fr 4fr 2fr 1fr;
}

.side-bar {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.side-bar__separator {
  width: 1px;
  border-radius: 50%;
  height: 90%;
}

.content {
  overflow-y: scroll;
}

.media-player {
  display: flex;
  justify-content: center;
  align-items: center;
}
.media-player__controls {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 18rem;
}
.media-player__volume {
  margin-left: 5rem;
  width: 16rem;
}

.options-player {
  margin: 1rem;
  border: 1px solid #515151;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.options-player__cover {
  width: 10rem;
  height: 100%;
}
.options-player__cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.options-player__info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search {
  margin: auto auto;
  display: flex;
  align-items: center;
  height: 4rem;
  width: 20rem;
  border-radius: 1rem;
  transition: all 0.3s ease-in-out;
}
.search__input {
  width: 100%;
  height: 2rem;
  border: none;
  border-radius: 5px;
  padding: 0 1rem;
  font-size: 1.2rem !important;
  letter-spacing: 1.5px !important;
  outline: none;
}
.search:hover, .search:focus-within {
  width: 26rem;
  border-radius: 2rem;
}

.progress-bar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 30rem;
}
.progress-bar__slider {
  width: 100%;
  margin: 0 2rem;
}
.progress-bar__icon {
  cursor: pointer;
}
.progress-bar__duration {
  margin-top: -1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.artists {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 3rem 5rem;
  overflow-y: auto;
}

.artist {
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 1rem;
  width: 100%;
  transition: all 0.5s ease-in-out;
  margin-bottom: 1rem;
  cursor: pointer;
}
.artist__image {
  width: 5rem;
  height: 5rem;
  opacity: 0.7;
  transition: all 0.3s ease-in-out;
}
.artist__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.artist__name {
  padding-left: 2rem;
  transition: all 0.3s ease-in-out;
}

.card {
  padding: 2rem;
}
.card__header h3 {
  margin-bottom: 1.5rem;
}
.card__body {
  display: flex;
  padding: 2rem;
  padding-left: 0;
}
.card__media {
  height: 22rem;
  width: 22rem;
}
.card__media img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}
.card__content {
  flex-grow: 1;
  padding: 0 2rem;
}
.card__title {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.card__song {
  margin-top: 1rem;
  display: flex;
  padding: 7px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}
.card__song h5,
.card__song h6 {
  font-weight: 100;
}
.card__song h5 {
  margin-right: 8px;
}
.card__song h6 {
  margin-left: auto;
}
.card__song:hover {
  cursor: pointer;
}
.card__song:hover .icon-song {
  opacity: 1;
}
.card__song:hover .number-song {
  opacity: 0;
}

.icon-song {
  position: absolute;
  opacity: 0;
  margin-right: 6px;
  margin-top: 2px;
}

.float-button {
  position: absolute !important;
  top: 2rem;
  right: 2rem;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal__container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 30rem;
  min-height: 20rem;
  border-radius: 1rem;
}
.modal__button {
  font-size: 1.6rem !important;
}
.modal__button:hover {
  text-decoration: underline !important;
}
.modal__button:not(:last-child) {
  margin-bottom: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  padding-top: 3rem;
}
.form__control {
  width: 100%;
  margin-top: 1rem;
}
.form__control--multi-select {
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 100%;
  max-width: 30rem;
}
.form__input {
  width: 100% !important;
  padding: 1rem;
  margin-bottom: 1rem !important;
  border-radius: 0.5rem;
  transition: all 0.3s ease-in-out;
}
.form__input input, .form__input fieldSet, .form__input label {
  font-size: 1.4rem !important;
}
.form__input p {
  font-size: 1.1rem !important;
}
.form__buttons {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  justify-content: end;
  align-items: center;
}
.form__buttons button {
  margin-left: 1rem;
}

/*# sourceMappingURL=main.css.map */
