.media-player {
  display: flex;
  justify-content: center;
  align-items: center;

  &__controls {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 18rem;
  }

  &__volume {
    margin-left: 5rem;
    width: 16rem;
  }
}
